{% extends 'estoque/_base.html' %}


{% block  title %} {{titulo}} {% endblock title %}

{% block extra_css%} {% endblock%}


{% block content %}
    <div class="jumbotron text-center bg-light p-5 rounded">
        <h1 class="display-4">Bem-vindo à nossa Loja Online!</h1>
        <p class="lead">Os melhores produtos, com os melhores preços.</p>
        <hr class="my-4">
        <p>Explore nossa seleção e encontre o que você procura.</p>
        <a class="btn btn-primary btn-lg" 
            href="{% url 'estoque:listprod' %}" 
            role="button">
            Ver Produtos
        </a>
    </div>
{% endblock%}





