{% extends 'estoque/base.html' %}

{% block title %}Estoque - Loja de Eletronicos{% endblock %}

{% block extra_css %}
    {{ block.super }} 

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h1>{{ categoria.identificacao }}</h1>
        <hr>
        <h3><strong>Categoria :</strong> {{ categoria.identificacao }}</h3>
        <p><strong>Descrição :</strong> {{ categoria.descricao }} </p>
        <hr>
        <a href="{% url 'estoque:categoria_update' categoria.pk %}" class="btn btn-warning">Editar Produto</a>
        <a href="{% url 'estoque:categoria_tabela_list' %}" class="btn btn-secondary">Voltar para a Lista</a>
    </div>
</div>

{% endblock %}