{% extends 'estoque/base.html' %}
{% load widget_tweaks %}

{% block title %}Estoque - Loja de Eletronicos{% endblock %}

{% block extra_css %}
    {{ block.super }} 

{% endblock %}

{% block content %}

<h1>{{ view_title }}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="{{ form.identificacao.id_for_label }}" class="form-label">Nome da Categoria</label>
        {% render_field form.identificacao class="form-control" %}
    </div>

    <div class="mb-3">
        <label for="{{ form.descricao.id_for_label }}" class="form-label">Descrição da Categoria</label>
        {% render_field form.descricao class="form-control" rows="4" %}
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'estoque:categoria_tabela_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}