{% extends 'estoque/_base.html' %}


{% block  title %} {{titulo}} {% endblock title %}

{% block extra_css%} {% endblock%}


{% block content %}

 <div class="row">
  <div class="col-md-6">
    <ul>
      <li> Produto : {{produtos.nome}}</li>
      <li> Descrição : {{produtos.descricao}}</li>
      <li> Preço : {{produtos.preco}}</li>
      <li> Preço : {{produtos.estoque}}</li>
      <img src="{{produtos.imagem.url}}"  class="img-fluid rounded" alt="{{produtos.nome}}">
    
    <ul>
  </div>
  

</div>

{% endblock%}
